/*
	Tempalte Name = New Landing Ngodeinweb
	Author		  = YUDI ARIF KURNIAWAN
	Author URI    = https://ngodeinweb.com
	Template URI  = https://ngodeinweb.com/demo/new-landing-ngodeinweb
	Description   = This is new landing page for ngodeinweb.

*/

/*------ warna root ------

	#f9f9fa #f3f3f3 = grey;
	#6c757d = grey text
	#73b6e6 = light-blue
	#3d9ae2 = blue hover
	#ced4da = form border
*/

/*---------------- global ------------*/
body {
	background-color: #f9f9fa;
}

/*---------------- maps width ------------*/
#mapid{
		width: 670px;
		height: 600px;
}

/*---------------- to centered ------------*/
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1020px;
  height: 600px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  border-radius: 8px;
  box-shadow: 0 1px 3px 2px #ced4da;
  background-color: white;
}

.centered .col-md-4 {
	padding-right: 0px;
}

/*---------------- input maps ------------*/
.map-head {
	text-align: center;
	padding: 50px 10px 20px 10px;
}

.map-head img {
	width: 100px;
}

.map-head h3 {
	padding-bottom: 40px;
}

.map-head .btn-primary {
	background-color: #f3f3f3;
	border:1px solid #f3f3f3;
	color: #6c757d;
	border-radius: 25px;
	padding: 6px 70px 6px 70px;
}

.list {
	height: 210px;
}

#tempat {
	text-align: left;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
}

#tempat p {
	color: #6c757d;
	margin-bottom: 6px;
}

#tempat p:hover {
	background-color: #f3f3f3;
	padding: 5px;
	font-size: 16px;
}

.map-footer {
	padding-top: 30%;
	line-height: 5px;
}

.map-footer p {
	line-height: 10px;
	color: #6c757d;
}

.rekomen {
	visibility: hidden;
	overflow: hidden;
}

body .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

body .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

/* mengubah warna btn saat diklik */
body .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #f3f3f3;
  border:1px solid #f3f3f3;
}

/* hilangkan box shadow saat fokus*/
body .btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}

body .btn-info:focus, .btn-info.focus {
  box-shadow: none;
}

/*--------------- leaft js ------------------*/
.leaflet-popup-content-wrapper {
	border-radius: 5px;
	max-width: 250px;
}

.leaflet-popup-content {
	margin:5px; 
}

.leaflet-popup-content p {
	margin-top:0px;
	margin-bottom: 0px; 
}

/*-------------- media query ----------------*/
@media screen and (max-width: 1024px){
	#mapid{
		width: 100%;
		height: 600px;
	}
	.centered {
	  width: 890px;
	  height: 600px;
	}
}

@media screen and (max-width: 896px){
	#mapid{
		width: 100%;
		height: 600px;
	}
	.centered {
	  width: 778px;
	  height: 600px;
	}
}

@media screen and (max-width: 768px){
	.centered {
		visibility: hidden;
		overflow: hidden;
	}

	.rekomen {
		visibility: visible;
		overflow: visible;
		max-width: 400px;

		/*centered*/
		position: fixed;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
  		transform: translate(-50%, -50%);
	}
}